body {
    margin: 0;
    padding: 0;
    background-color: #B8B8B8;
    overflow-x: hidden;
    overflow-y: hidden;
}
div {
    overflow-x: hidden;
    overflow-y: hidden;
}
label {
    font-size: 0.75em;
}
#acanvas-div {
    display: -webkit-flex;
    display: flex;
}
#acanvas {
    margin: auto;
    background-color: white;
    border: 1px solid black;
}
#metrics {
    position: fixed;
    background-color: black;
    bottom: 0.5em;
    left: 0em;
    right: 0em;
    height: 1.2em;
}
#metrics label {
    color: white;
    margin-left: 0.8em;
    word-wrap: break-word;
}
#pause {
    position: fixed;
    bottom: 2.5em;
    left: 0.5em;
    margin: 0;
    padding: 0.2em;
}
#key-message {
    position: fixed;
    left: 5em;
    bottom: 2.3em;
    margin: 0;
}
#key-message label span {
    color: red;   
}
